* {
  background-color: #b8aa7c;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
.Saludo {
  font-family: monospace;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #006699;
}
